# NOTES:
# - this .env is used as input for azd/bicep deploymemt
# - azd writes to ./.azure/dev/.env (all input vars plus deployment ids/secrets)
# - Makefile copies .env to ./src/.env.development.local

# - Do not use double-quotes and do not delete any of the variables.
# - Make sure that NEXTAUTH_URL=http://localhost:3000 has no comments in the same line.

AZURE_ENV_NAME="dev"

# Azure tenant/subscription to deploy to
AZURE_TENANT_ID=""
AZURE_SUBSCRIPTION_ID=""

AZURE_LOCATION="eastus2"

# Update your Azure OpenAI details
# AZURE_OPENAI_API_INSTANCE_NAME should be just the name of azure openai resource and not the full url; 
# AZURE_OPENAI_API_DEPLOYMENT_NAME should be deployment name from your azure openai studio and not the model name.
# AZURE_OPENAI_API_VERSION should be Supported versions checkout docs https://learn.microsoft.com/en-us/azure/ai-services/openai/reference
#AZURE_OPENAI_API_KEY="e174d6f7beaa4eda840a4f6b3162afb7"
AZURE_OPENAI_API_INSTANCE_NAME="azurechat"
#AZURE_OPENAI_API_DEPLOYMENT_NAME="innova-cto-gpt-35-turbo-0301"
#AZURE_OPENAI_API_VERSION="2023-03-15-preview"
#AZURE_OPENAI_API_EMBEDDINGS_DEPLOYMENT_NAME="text-embedding-ada-002"
#AZURE_OPENAI_API_MODEL_VERSION="0613"

# Update your admin email addresses - comma separated
ADMIN_EMAIL_ADDRESS=""

# Identity provider is optional if you are running in development mode locally (npm run dev)

# role required to access the app. leave commented for all users to access
#AUTH_ROLE=""

AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

AZURE_AD_CLIENT_ID=""
AZURE_AD_CLIENT_SECRET=""
AZURE_AD_TENANT_ID=""

# Update your production URL in NEXTAUTH_URL
NEXTAUTH_SECRET="AZURE-OPENIAI-NEXTAUTH-OWNKEY@1"
NEXTAUTH_URL="http://localhost:3000"
